common: &common
  adapter: mysql2
  encoding: utf8
  reconnect: true
  # socket: /var/run/mysqld/mysqld.sock

# common settings for any development databases
devel_common: &dev
  host: 127.0.0.1
  username: 
  password: 

# common settings for all test databases
tst_common: &tst
  host: 127.0.0.1
  username: 
  password: 

#######################
development:
  <<: *common
  <<: *dev
  database: eol_registry_development

test:
  <<: *common
  <<: *tst
  database: eol_registry_test